{% extends "indexWithNav.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css">

<div class="container mt-4">
    <section>
        <div class="row">
            <div class="col-lg-4">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/users-solid.svg') }}">
                        <p class="card-text">{{ total_guest_this_month }} supposed guests</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/calendar-regular.svg') }}">
                        <p class="card-text">{{ total_booking_this_month }} bookings</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/dollar-sign-solid.svg') }}">
                        <p class="card-text">{{ total_earned_this_month }} earned</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <a class="col-lg-6 dashboard-box btn btn-success" href="{{ url_for('bookings') }}">
                <img src="{{ url_for('static', filename='images/calendar-regular.svg') }}">
                <p>Bookings</p>
            </a>
            <a class="col-lg-6 dashboard-box btn btn-success" href="{{ url_for('rooms') }}">
                <img src="{{ url_for('static', filename='images/users-solid.svg') }}">
                <p>Rooms</p>
            </a>
        </div>
    </section>
</div>

{% endblock %}