{% extends "index.html" %}

{% block content %}
<style>
    body{
        background-color: #083358 !important;
    }
</style>

<div class="container mt-5 ">
    <h1 class="text-center text-white">ADMIN - <span style="color:#0D99FF;">Fren</span><span
        class="text-white">ch
        Re</span><span style="color: #ED2939;">sort</span></h1>
    <div class="row justify-content-center">
        <div class="bg-light border rounded col-xl-5 col-lg-6 col-md-8 col-sm-12 mt-4 mx-auto p-4">
            <h2 class="mb-4">Log in</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row g-3">
                    <div class="col-12 mb-3">
                        {{ form.user_email.label }}
                        {{ form.user_email(class="form-control", placeholder="Enter your email address") }}
                    </div>
                    <div class="col-12 mb-3">
                        {{ form.user_password.label }}
                        {{ form.user_password(class="form-control", placeholder="Enter your password") }}
                    </div>
                    <!-- Continue Button -->
                    <div class="col-12">
                        {{ form.submit(class="btn btn-success w-100 btn-lg fw-bold") }}
                    </div>
                </div>
            </form>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}